
* {
  margin: 0;
  padding: 0;
}

.navbar{
  background-color: #fff;
}

nav ul li {
  display: inline-block;
  margin: 20px 20px;
  cursor: pointer;
}

.list-items {
  margin-left: 400px; /* Default for larger screens */
}

@media (max-width: 600px) {
  .list-items {
    margin-left: 0; /* Align items to the left on small screens */
    display: flex; /* Optional: To ensure proper alignment */
    flex-direction: column; /* Optional: Stack items vertically if needed */
  }

  nav ul li {
    margin: 10px 0; /* Adjust spacing for better visibility */
  }
}
.sticky{
  position: fixed;
width: 100%;
  z-index: 1000;
 top: 31px;
}
@media (max-width: 576px) {
  .carouselimg{
    height: 150px; /* Limit height on small screens */
  }
}
.reset-btn{
  padding: 6px 25px;
  border:1px solid #e5e8ec;
  cursor: pointer;
  background-color: white;
  
}
.tocartbtn{
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #161616;
  background: white;
}
.paginationbtn{
  background: white;
  padding: 7px 12px;
  border-radius: 0px;
color: black;


}
.active{
  background-color:#262261;
  padding: 7px 12px;
  border-radius: 0px;
  color: white;
}